<div>
    <button class="collapsible" (click)="onClick()" #collapsibleItem>{{ title }}</button>
    <div class="content">
        <ul>
            @for(detail of details; let i = $index; track i) {
                <li> {{ detail }}</li>
            }
        </ul>
        <div class="pt-1"></div>
    </div>
</div>