<div class="section mt-6 ">
    <div class="container is-flex is-justify-content-center">
        <div class="columns is-centered">
         @for(education of educationList; let i = $index; track i) {
            <div class="column">
                <app-education-card
                    [course]="education.course"
                    [school]="education.school"
                    [department]="education.department"
                    [imagePath]="education.imagePath"
                    [result]="education.result"
                />
            </div>
         } 
        </div>
    </div>
</div>