<div class="section mt-6">
    <div class="container">
        @for (experience of workExperiences; let i = $index; track i) {
            <div class="has-text-centered mt-4">
              <app-callapsible [title]="experience.title" [details]="experience.details"/>
            </div>
        }
    </div>
</div>

