<div class="section  mt-6">
    <div class="container">
        <div class="has-text-centered mt-6">
            <img ngSrc="/assets/boss.png" width="500" height="500" priority/>
            <p class="is-size-6 is-uppercase has-text-weight-bold has-text-grey-light">Hello everyone , i am </p>
            <p class="is-size-1 is-italic has-text-weight-bold">Jason Yeung</p>
            <p class="is-size-4 is-uppercase has-text-weight-blod has-text-grep-dark">Analyst programmer</p>
        </div>
    </div>
</div>