<div class="card cardWidth">
    <div class="card-image">
        <figure class="image is-4by3">
            <img  [ngSrc]="imagePath" class="size" priority fill/>
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">{{ school }}</p>
                <p class="subtitle is-6">{{ department}}</p>
            </div>
        </div>

        <div class="content">
            <p>{{ course }}</p>
            <p>{{ result }}</p>
            <br>
        </div>
    </div>
</div>
