<div class="section  mt-6">
    <div class="container">
        <div class="has-text-centered mt-6">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <div class="columns is-vcentered">
                            <div class="column">
                                <figure class="image is-4by3">
                                    <img ngSrc="/assets/image.jpg" fill priority/>
                                </figure>
                            </div>
                            <div class="column">
                                <table class="table is-striped">
                                    <tbody>
                                        <tr>
                                            <td><img ngSrc="/assets/icons8-ringer-volume-48.png" width="50" height="50" priority/></td>
                                            <td class="is-vcentered">(+852)90625592</td>
                                        </tr>
                                        <tr>
                                            <td><img ngSrc="/assets/icons8-mail-contact-48.png" width="50" height="50" priority/></td>
                                            <td class="is-vcentered"><a
                                                    href="mailto:ymyuen56@gmail.com">ymyuen56&#64;gmail.com</a></td>
                                        </tr>
                                        <tr>
                                            <td><img ngSrc="/assets/icons8-linkedin-100.png" width="50" height="50" priority/></td>
                                            <td class="is-vcentered"><a
                                                    href="https://www.linkedin.com/in/ming-yuen-yeung-3b2024111/">https://www.linkedin.com/in/ming-yuen-yeung-3b2024111/</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img ngSrc="/assets/icons8-facebook-64.png" width="50" height="50" priority/></td>
                                            <td class="is-vcentered"><a
                                                    href="https://www.facebook.com/mingyuan.yang1">https://www.facebook.com/mingyuan.yang1</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

