<div>
    <nav class="navbar has-shadow">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/">
                <img ngSrc="/assets/programing.png" style="max-height: 70px" class="py-2 px-2" width="60" height="60" alt="programing" pority/>
                <div class="is-size-4 has-text-weight-bold ">Jason Yeung</div>
            </a>  
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-links" (click)="toggleIsActive()" #buger>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="nav-links" (click)="toggleIsActive()" #menu>
            <div class="navbar-end">
                <a class="navbar-item" routerLink="/contact">Contact Me</a>
                <a class="navbar-item" routerLink="/work">Work Experience</a>
                <a class="navbar-item" routerLink="/education">Education</a>
            </div>
        </div>
    </nav>
</div>